/* PRIMARY COLORS */
$color_primary: #5964E0;
$color_light_primary: #939BF4;
$color_dark_blue: #19202D;
$color_midnight: #121721;

/* SECONDARY COLORS */
$color_white: #FFFFFF;
$color_light_grey: #F4F6F8;
$color_grey: #9DAEC2;
$color_dark_grey: #6E8098;

/* FONTS */
$font_primary: "Kumbh Sans", sans-serif;
$font_size_h1: 2.8rem;
$font_size_h2: 2.4rem;
$font_size_h3: 2rem;
$font_size_body: 1.6rem;
$font_size_h4: 1.4rem;

/* CONTAINERS */
$container: 1110px;
$container_md: 689px;
$container_sm: 327px;