@import "../../styles/variables";

.checkbox {
	align-items: center;
	color: $color_dark_blue;
	display: flex;
	font-family: inherit;
	font-weight: 700;
	gap: 1.7rem;

	input[type="checkbox"] {
		display: none;
	}

	input[type="checkbox"]:checked + .checkmark {
		background: $color_primary url("./images/desktop/icon-check.svg") center no-repeat;
	}

	.checkmark {
		background: #e8e8ea;
		border-radius: 0.3rem;
		display: block;
		flex-shrink: 0;
		height: 2.4rem;
		width: 2.4rem;
	}
}

:global(.dark) {
	.checkbox {
		color: $color_white;

		.checkmark {
			background: #2e343f;
		}
	}
}
