@import "../../../styles/variables";

.filter_modal {
	background: $color_white;
	border-radius: 0.6rem;
	left: 50%;
	max-width: 35rem;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 90%;

	.input_group {
		border-bottom: 1px solid #dadee2;
		display: flex;
		flex: 1;
		gap: 1.7rem;
		height: 7.2rem;
		padding: 0 2.4rem;

		img {
			align-self: center;
			height: 2.4rem;
			width: auto;
		}

		input {
			background: none;
			border: none;
			caret-color: $color_primary;
			font-size: 1.6rem;
			outline: none;
			padding-right: 1rem;
			width: 100%;
		}
	}

	.search_container {
		display: flex;
		flex-direction: column;
		gap: 2.4rem;
		padding: 2.4rem;

		button {
			flex: 1;
		}
	}
}

:global(.dark) {
	.filter_modal {
		background: $color_dark_blue;

		.input_group {
			border-color: rgba($color_dark_grey, 0.2);

			input {
				color: $color_white;
			}
		}

		.search_container {
			.checkmark {
				background: #2e343f;
			}
		}
	}
}
