@import "../../../styles/variables";

.jobs_container {
	column-gap: 3rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 6.5rem 0 5.8rem 0;
	row-gap: 6.5rem;

	@media only screen and (max-width: $bp_md) {
		column-gap: 1.1rem;
		grid-template-columns: repeat(2, 1fr);
		padding: 3rem 0;
	}

	@media only screen and (max-width: $bp_sm) {
		grid-template-columns: 1fr;
		padding: 1.7rem 0;
		row-gap: 5rem;
	}
}
