@import "../../../styles/variables";

.footer {
	background: $color_white;

	.container {
		align-items: center;
		display: flex;
		height: 9.6rem;
		justify-content: space-between;
		margin: 0 auto;
		max-width: 73rem;
		width: 90%;

		@media only screen and (max-width: $bp_sm) {
			width: 87%;

			> div {
				display: none;
			}
		}

		.position {
			color: $color_dark_blue;
			font-size: $font_size_h3;
			font-weight: 700;
			margin-bottom: 0.3rem;
		}

		.company {
			color: $color_dark_grey;
		}

		a {
			align-items: center;
			background: $color_primary;
			border-radius: 0.5rem;
			color: $color_white;
			display: flex;
			font-weight: 700;
			height: 4.8rem;
			padding: 0 2.8rem;
			text-decoration: none;

			@media only screen and (max-width: $bp_sm) {
				width: 100%;
				justify-content: center;
			}

			&:hover {
				background: #939bf4;
			}
		}
	}
}

:global(.dark) {
	.footer {
		background: $color_dark_blue;

		.container {
			.position {
				color: $color_white;
			}
		}
	}
}
